.transactionHistory {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 300px;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
}

td,
th {
  width: 300px;
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
  width: 33.33%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th {
  width: 300px;
}

tbody td {
  width: 300px;
}
